@font-face {
  font-family: Enso;
  src: url("enso.ttf") format("truetype")
}

* {
  font-family: arial;
}

.jumbotron {
  background-color: rgba(150, 150, 150, 0.49);
}

.contact-link, .contact-link:hover {
  color: inherit;
  text-decoration: none;
}

nav {
  background-color: transparent;
  margin-top: 1%;
}

.contact-button {
  max-height: 50px;
}

h3.contact-text {
  font-size: 1.3rem;
}

.section {
  text-align: center;
}

.nav-item {
  font-weight: normal;
}

.nav-item.active {
  font-weight: bold;
}

.title-text {
  font-family: Enso;
  font-size: 3.5em;
  margin-bottom: -15px;
}

.desc-text{
  font-size: 1.5rem;
  text-align: left;
}

.psi {
  color: rgb(47, 186, 145);
}

.slide {
  font-size: 3em;
}

body
{
  background-image: url('lines.png');
}

#section-2, #section-4 {
  background-color: rgba(47, 186, 145, 0.8);
}

.navbar-nav {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px;
}

@media (min-width: 576px) {
  .navbar-nav {
    background: none;
    padding: none;
  }
  .title-text {
    font-size: 5em;

  }
  .desc-text{
    font-size: 1.6rem;
    text-align: center;
  }
  h3.contact-text {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .title-text {
    font-size: 7em;
    margin-bottom: -30px;
  }
  .desc-text{
    font-size: 1.8rem;
  }
  h3.contact-text {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  .title-text {
    font-size: 8em;
    margin-bottom: -30px;
  }
}

@media (min-width: 1200px) {
}
