@media screen and (min-width: 992px) {
  #navMenu {
    transform: translate(-30%);
  }
}

nav {
  background: rgba(200, 200, 200, .9);
}

.section, .inner-section {
  text-align: center;
}

.nosotros {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

.bg-ph {
  height: 100vh;
  background: url('bg-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  margin: -7px;
   overflow: hidden;
}

.title-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.face {
  height: 150px;
}
